.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;.
    margin: 24px;
    padding: 24px;
}

#p1-c1 {
    background-color: #5ec269;
}

#p1-c2 {
    background-color:#00ac7e ;
}

#p1-c3 {
    background-color: #007a84;
    color:white
}

#p1-c4 {
    background-color: #2f4858;
    color:white
}

.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;.
    margin: 24px;
    padding: 24px
}

#p2-c1 {
    background-color: #9d0a25;
}

#p2-c2 {
    background-color: #66b4db;
}

#p2-c3 {
    background-color: #c9f7ff;
}

#p2-c4 {
    background-color: #4f7d95;
    color:white
}

.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;.
    margin: 24px;
    padding: 24px
}

#p3-c1 {
    background-color: #80abff;
}

#p3-c2 {
    background-color: #7f90bc;
    color:white;
}

#p3-c3 {
    background-color: #f5f9ff;
}

#p3-c4 {
    background-color: #e6f4f1;
}