* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
}
h3 {
    text-align: center;
}
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
}
.dark-container {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 48px 0px;
}
.light-container {
    background-color: rgb(144, 224, 238);
    padding: 48px 0px;
}