#navbar {
    text-align: center;
    padding: 24px;
    background-color: blue;
}
#navbar a {
    color: white;
    text-decoration: none;
}
p a {
    color: teal;
}
p.warning {
    background-color: crimson;
}
p.warning a {
    color: orange;
}

ul {
    color: rgb(25, 226, 25);
}
ul a {
    color: lime;
}
ul p a {
    color: purple;
}
ul div a {
    color: lightblue;
}

