#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}
#sidebar .chapter {
    font-size: 24px;
    font-weight: bold;
}
#sidebar .edit {
    color: orange;
    font-style: italic;
}
#sidebar .chapter.edit {
    color: red;
}
