#t1 {
color:green;
}

#t2-s1 {
color:#f711f7;
}
#t2-s2 {
color:#f711f7;
}

#t3-s1 {
color:red;
}
#t3-s2 {
color:goldenrod;
}
#t3-s3 {
color:blue;
}

#t4 {
background-color: skyblue;
}

#t5-s1 {
background-color: yellow;
}

#t6-s1 {
font-weight:bold;
}
#t6-s2 {
font-weight:bold;
}

#t7-s1 {
font-weight: bolder;
}

#t8-s1 {
text-decoration: underline;
}
#t8-s2 {
text-decoration: underline;
}

#t9 {
font-size: 36px;
}

#t10-s1{
font-size: 12px;
}
#t10-s2 {
font-size: 48px;
}
#t10-s3 {
font-size: 24px;
}