@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap%27);
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Merriweather';
}
img {
    width: 100%;
    object-fit: cover;
    padding: 15px;
}
.contain {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
}
.contain  {
    background-color: #b29f9f;
    padding: 10px;
}
.light-container {
    background-color: rgb(249, 249, 249);
    padding: 10px;
}
.links {
    margin-left: 200px;
}
.btn {
    text-decoration: none;
    background-color: #487ced;
    padding: 10px 30px;
    display: block;
    width: max-content;
    color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #1115;
    border: 2px solid #487ced;
    transition: background-color 0.5s, color 0.5s;
    margin: 0px auto;
}
.btn:hover {
    background-color: transparent;
    color: #487ced;
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
