* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    margin: 50px auto;
    width: 90%;
    max-width: 1200px;
}
img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.sbs {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.sbs .content {
    flex: 1;
}
.sbs .image-container {
    flex: 2;
}
.btn {
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}

.card img {
    width: 100%;
    height: 300px;
}