* {
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.single-column {
    margin: 50px auto;
    width: 90%;
    max-width: 1200px;
}
img {
    width: 100%;
    object-fit: cover;
}

.sbs {
    display: flex;
    gap: 25px;
    padding: 50px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sbs img {
    height: 100%;
}

.stack {
    text-align: center;
}

.card-container {
    display: flex;
    gap: 25px;
}

a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7px;
}
