div {
    background-color: #ffe9c4;
    padding: 24px;
    margin-bottom: 50px;
}
div p {
    margin-top: 0px;
}

.btn {
    text-decoration: none;
    background-color: #58fc5e;
    padding: 10px 30px;
    display: inline-block;
    color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #1115;
    border: 2px solid #58fc5e;
    transition: background-color 0.5s, color 0.5s;
}
.btn:hover {
    background-color: transparent;
    color:#58fc5e;
}
.btn.alt {
    background-color: transparent;
    border-color: #0a9cda;
    color:#0a9cda
}
.btn.alt:hover {
    background-color: #0a9cda;
    color: white;
}