@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap%27);
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Merriweather';
}
img {
    width: 100%;
}
h3 {
    text-align: center;
}
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 25px auto;
}
.two-columns {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.sidebar {
    order: 2;
    width: 250px;
}

.sidebar h2 {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 15px;
    font-size: 18px;
}
.sidebar ul {
    background-color: rgb(144, 224, 238);
    border: 1px solid #000000;
    margin: 0px 0px 25px;
    list-style: none;
}
.sidebar li {
    padding: 10px 0px;
    border-bottom: 1px solid black;
}
.sidebar li:last-child {
    border: 0px;
}
.sidebar a {
    text-decoration: none;
    color: black;
}

.main {
    order: 1;
    flex: 1;
    margin: 0px 2px;
}
.dark-container {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;
}
.light-container {
    background-color: rgb(144, 224, 238);
    padding: 30px;
}